.rodape-card{
    color: #614ea6;
    height: 35px;
}

.btn-detalhes{
    background-color: #614ea6;
    color: #fff;
}

.btn-detalhes:hover{
    background-color: #f21667;
    color: #fff;
}

.card-text{
    max-height: 70px;
    min-height: 70px;
    overflow: hidden;
}

.img-cartao{
    max-height: 200px;
    max-height: 100px;
    min-width: 100%;
}

